/*-----------------------
-------------------------
----ESTILO DEL HEADER----
-------------------------
-----------------------*/

/*Estilo aplicado al header con un display flex para organizar los elementos, justifi-content para alinear a los extremos
se aplica un background color y un color al texto, por último una linea suave inferior para separar secciones*/
header {
    display: flex;  
    justify-content: space-between; 
    align-items: center; 
    background-color: #f4f4f4; 
    color: #333; 
    border-bottom: 2px solid #ddd;  
    height: 15em;
}

/* Se aplica el estilo en el logo, con flex y se le aplica un padding para distanciarlo del margen izquierdo.*/
.logo-container {
    display: flex; 
    align-items: center;
    padding-left: 5em;
}

/*Estilo para ajustar el tamaño del logo manteniendo la proporción.*/
.logo {
    height: 10em;
    width: auto; 
    padding-bottom: 1em;
}

/* Estilo para la imagen del titulo de web, usando flex y justificando el contenido, haciendo que el contenedor ocupe todo el espacio disponible
entre el logo y el menú para darle mas importancia. Además se establece un padding a la izquierda de 9em para centrarlo.*/
.titulo-cabecera {
    display: flex; 
    justify-content: center; 
    flex-grow: 1;  
    padding-left: 9em;
}

/* Estilo para el título de la web, el título mucho más grande y lo centramos en el medio, poniendo un ancho máximo  y una altura de 50em*/
.site-title {
    height: 40em;
    width: auto;  
    max-width: 100%;  
}
/* Estilo para el menú de navegación, alineado a la derecha y un espacio entre botones*/
nav {
    display: flex;
    gap: 20px;
    padding-right: 2em;
    padding-bottom: 1em;
}

/* Estilo para la lista del menú, eliminando el estilo de la lista y organizando los enlaces en una fila.*/
ul {
    list-style: none; 
    display: flex;  
    gap: 1em;
}

/* Estilo para los botones del menú, se eliminan las decoraciones, se le aplica color de fondo y color de letra.
Se aplica la negrita para destacar el texto y se aplica un padding y un border radius y se elimina el borde.*/
.menu-btn {
    text-decoration: none; 
    color: white;  
    font-size: 1.2em; 
    font-weight: bold;  
    background-color:#800528; 
    padding: 12px 20px; 
    border-radius: 5px; 
    border: none; 
}

/* Se aplica un efecto hover para los botones en el que se hace un cambio de color y se agrandan ligeramente.*/
.menu-btn:hover {
    background-color:#520319;
    transform: scale(1.1); 
}

/*Se aplica estilo a todos los h2, cambiando el color del texto, alineandolo al centro y aplicando un tamaño de letra*/
h2 {
    text-align: center;
    color: #800020;
    margin-bottom: 20px;
    font-size:2.5em;
}


/*-----------------------
-------------------------
----ESTILO SERVICIOS-----
-------------------------
-----------------------*/


/* Estilo para la sección de los servicios 
el titulo de la pagina en h1, alineado al centro usando el color
borgoña y un con un margen en top*/
h1 {
    text-align: center;
    font-size: 2.5em;
    color: #520319;
    margin-top: 1em;
}

/* Estilo para las tarjetas de servicios */
.grid-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 20px;

}
/**/
.card {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: center;
}
/**/
.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}
/**/
.card img {
    width: 0em;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 15px;
}
/**/
.card h3 {
    font-size: 1.4em;
    color: #333;
    margin-bottom: 10px;
}
/**/
.card p {
    font-size: 1em;
    color: #666;
    margin-bottom: 10px;
}

/*-----------------------
-------------------------
-------TESTIMONIOS-------
---------FORO------------
-------------------------
-----------------------*/
/*Elito para los testimonios */
.testimonios {
    background-color: #fff;
    padding: 40px 20px;
    margin: 40px 0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/*Estilo aplicado al titulo de la seccion, elemento h2*/
h2 {
    font-size: 2.5em;
    color: #520319;
    text-align: center;
    margin-bottom: 30px;
}

/*Estilo general del foro con un grid de cards*/
.foro{
        width: 100%;
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: repeat(2, 1fr);
    }

/*Estilo para la primera columna, disposición en flex
elementos alineados al centro y margen inferior*/
.testimonio-fila1 {
    display: flex;
    align-items: center;
    justify-content:left;
    flex-direction: column;
    margin-bottom: 30px;
}
/*Estilo para la segunda columna, disposición en flex
elementos alineados al centro y margen inferior*/
.testimonio-fila2{
    display: flex;
    align-items: center;
    justify-content:left;
    flex-direction: column;
    margin-bottom: 30px;
}
/*Estilo aplicado a la imagen del testimonio*/
.testimonial-icon {
    width: 3em;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
    padding-top:0.5em
}
/*Estilo aplicado al texto o parrafo del comentario*/
.testimonial p {
    font-size: 1em;
    color: #555;
    margin-bottom: 10px;
    font-style: italic;
}

/*-----------------------
-------------------------
----ESTILO DEL FOOTER----
-------------------------
-----------------------*/


/*Estilo general del footer, con un fondo, letra de color negro, padding, texto alineado al centro
linea sutil en el borde superior para separar secciones y un padding*/
footer {
    background-color: #fbe6e6;
    color: #070707;  
    padding: 1em;
    text-align: center;  
    font-size: 1em;  
    color: #520319;  
    border-top: 2px solid #ddd;  
    padding-top: 2em;
}
/*Estilo para el texto del footer, con un margen inferior y un tamaño de fuente*/
footer p {
    margin-bottom: 20px;  
    font-size: 1.1em;  
}

/* Estilo de los iconos de las RRSS, usando flex para su distribución horizontal y un gap para espaciar los iconos.*/
.social-media {
    display: flex;  
    justify-content: center;  
    gap: 20px;  
}

/* Se ajusta el tamaño de los iconos, que aumentan su tamaño cuando se pasa el ratón por encima */
.social-media a img {
    width: 2em; 
    height: auto; 
    transition: transform 0.3s ease, opacity 0.3s ease; 
}

/* Aplica el efecto hover en los iconos de las RRSS, efecto hover para los íconos de las redes sociales.*/
.social-media a:hover img {
    transform: scale(1.1); 
}

